
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">ME & FM Provider</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Find A Provider</a>
      </li>
      <% if !user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, :class => 'nav-link' %>
        </li>
        <li class"nav-item">
          <%= link_to 'Sign In',  new_user_session_path, :class => 'nav-link'  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Account', edit_user_registration_path, :class => 'nav-link' %>
        </li>
        <li class"nav-item">
          <%= link_to 'Log Off',  destroy_user_session_path, :class => 'nav-link'  %>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.mefm.bc.ca/">ME & FM Society of BC</a>
      </li>
    </ul>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <%= form_tag(physicians_path, :method => "get", id: "search", style: 'display:inline') do %>
    <% end %>
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
